<div class="row">
	<div class="col-md-8">
		<div class="bs-component" >
			<accordion close-others="oneAtATime" >
			  <accordion-group id="{{nmc._id}}"  ng-repeat="nmc in nmcResponses" heading="{{nmc.name}}" tooltoggler>
			    <form ng-repeat="(key,value) in nmc">
			      <div ng-hide="model.stat === $index">
			        <span style="font-weight:bold;">{{key}} </span> : <span ng-click="model.stat = $index" autofocus> {{value | characters:80}}</span>
			      </div>
			      <div>
			        <input class="resultJediTable" type="text" ng-show="model.stat==$index" value="{{value}}">
			      </div>
			    </form>
			  </accordion-group>
			</accordion>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well well-sm">
			<uib-tabset justified="true">
			  <uib-tab heading="Details">
					<p ng-repeat="(key,value) in ResultInFocus">{{key}}:{{value | characters:30}}</p>
			  </uib-tab>
			  <uib-tab heading="Contribute">Voting Stuff...</uib-tab>
			  <uib-tab heading="User">User info stuff...</uib-tab>
			</uib-tabset>
		</div>
	</div>
</div>